body{
     height: 100%;
     margin: 0;
     overflow: hidden;
}
#background-video {
     position: absolute;
     top: 0;
     left: 0;
     min-width: 100%;
     min-height: 100%;
     z-index: -1;
   } 
.signup{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 90vh;
}
form{
     background-color: transparent;
     padding: 30px 30px 30px 30px;
     border-radius: 5px;
     border: 1px solid white;
     backdrop-filter: blur(20px);
}
.signup h1{
     text-align: center;
     color: white;
}
.signup .input-box{
     padding-bottom: 10px;
}
.input-box input{
     width: 20em;
     height: 2.5em;
     border-radius: 5px;
     border: none
}
.btn{
     display: flex;
     justify-content: center;
     align-items: center;
}
.btn button{
     width: 50%;
     height: 2.5em;
     background-color: white;
     border: none;
     border-radius: 5px;
     color: black;
}
.btn button:hover{
     background-color: gray;
}
a{
     text-decoration: none;
}


